# Source - https://stackoverflow.com/a
# Posted by Laurent FAVOLE
# Retrieved 2025-12-27, License - CC BY-SA 4.0

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          lfs: true
      - ...
